

    /**NEW / POPULAR CLASS*/
    #popularClass, #newClass {
        position: relative;
        left: 2.8%;
        height: 500px;
        padding-bottom: 50%;
    }
    .classMenu {
        width: 250px;
        height: 330px;
        border: 1px solid lightgray;
        margin: 0 12px 12px 0;
        padding: 20px 10px 20px 10px;
        float: left;
        list-style: none;
    }

    .classMenu li{
        position: relative;
        width: 210px;
        left: 8px;
    }

    .classMenu img {
        width: 210px;
        height: 150px;
        margin-bottom: 10px;
        
    }
    .classMenu span {
        font-weight: lighter
    }
